@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Determination Sans";
  src: url("./fonts/DeterminationSansWeb.woff");
}

@font-face {
  font-family: "MF2Back";
  src:
    url("./src/fonts/MonsterFriend2Back.woff") format("woff"),
    url("./src/fonts/MonsterFriend2Back.woff2") format("woff2");
}

@font-face {
  font-family: "MF2Center";
  src:
    url("./src/fonts/MonsterFriend2Center.woff") format("woff"),
    url("./src/fonts/MonsterFriend2Center.woff2") format("woff2");
}

@font-face {
  font-family: "MF2Fore";
  src:
    url("./src/fonts/MonsterFriend2Fore.woff") format("woff"),
    url("./src/fonts/MonsterFriend2Fore.woff2") format("woff2");
}
